<div class="logo">
    <div class="wrapper">
        <a href="{{ url('<front>') }}" title="Naar de homepage van {{ site_name }}">
<img src="{{ base_path }}{{ directory }}/logo.svg" data-fallback="{{ directory }}/logo.svg" alt="Logo {{ theme_sender_primary }} {{ theme_sender_secondary }}" id="logotype"/>
            <!-- <span class="wordmark">
                <span class="sender">
                    {{ theme_sender_primary }}</span>
                <span class="secondary-sender">{{ theme_sender_secondary }}
                </span>
            </span> -->
        </a>
    </div>
</div>